{{#each this}}
<div class="card">
    <h2 class="name-country">{{name}}</h2>
    <div class="card-body">
        <div class="info__country">
            <p> <b>Capital:</b> {{capital}}</p>
            <p> <b>Populations:</b> {{population}}</p>
            <p> <b>Languages:</b></p>
            <ul class="lang-list">
                {{#each languages}}
                <li>{{name}}</li>
                {{/each}}
            </ul>
        </div>

        <div>
            <img src="{{flag}}" alt="{{name}}" class="card-img-right">
        </div>
    </div>
</div>
{{/each}}